[buildout]
extends = base.cfg
eggs +=
    libnacl
    pyOpenSSL
    tinycss2
    pyquery
    urllib3

[circus.ini]
master =
slave = True
slaves_count = 2
master-web-port = 40000
master-bind-host = "*"
master-bind-port = 41000
master-host = 192.168.6.31
master-port = 41000
locustfile = insider-load.py
class = DSDEVUser

[load.py]
auctions_count = 2
signature_key = fe3b3b5999a08e68dfe62687c2ae147f62712ceace58c1ffca8ea819eabcb5d1
host = http://192.168.6.1:8090
input = ${buildout:directory}/templates/authorized_insider.py

[versions]
#pyzmq = 16.0.2
# cryptography = 2.0.1