[buildout]
extends = base.cfg
eggs +=
    libnacl
    pyOpenSSL
    tinycss2
    pyquery
    urllib3

[circus.ini]
master = {{ master }}
slave = {{ slave }}
slaves_count = {{ slaves_count}}
master-web-port = {{ master_web_port }}
master-bind-host = "*"
master-bind-port = {{ master_port }}
master-host = {{ master_host }}
master-port = {{ master_port }}
locustfile = {{ locustfile }}
class = {{ class }}

[load.py]
auctions_count = {{ auctions_count }}
signature_key = {{ signature_key }}
host = {{ target_host }}
input = ${buildout:directory}/templates/{{ input_file }}

[versions]
#pyzmq = 16.0.2
# cryptography = 2.0.1