[buildout]
extends = base.cfg

[circus.ini]
slaves_count = 2
master-bind-host = "*"
master-host = 192.168.6.31
master =
slave = True
locustfiles =
  authorized_insider.py
  anonymous_insider.py

[authorized_insider.py]
auctions_count = 10
host = http://192.168.6.1:8090

[anonymous_insider.py]
auctions_count = 10
host = http://192.168.6.1:8090
signature_key = fe3b3b5999a08e68dfe62687c2ae147f62712ceace58c1ffca8ea819eabcb5d1
